{% extends "components/layout.html" %}

{%block head%}
    <title>CasaCriativa - Ideias</title>

    <link rel="stylesheet" href="./style/global.css">
    <link rel="stylesheet" href="./style/list-ideia.css">
    <link rel="stylesheet" href="./style/modal.css">
    {%endblock%}


{% block content %}
<header>
    <div id="logo">
        <img src="./images/Logo.png" alt="Logo">
    </div>

    <nav>
        <ul>
            <li id=containerNewIdea>
                <a href="#" id="newIdea" class="button" onclick="modalToggle()"></a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="header">
        <p>em exibição</p>
        <h1>Ideia</h1>
    </div>

    <div class="Painel-ideia">
        <div class="ideias-wapper">

            {% include "components/showIdeia.html"%}

        </div>
    </div>

    
</main>

<a href="#" class="button button-float" onclick="modalToggle()">+</a>

{% endblock %}

{%block script%}
    <script>
        function buttonText() { 
            if (window.innerWidth < 600){
                document.getElementById('newIdea').innerText = '+'
            } else {
                document.getElementById('newIdea').innerText = 'Nova ideia'
            }
        }
        buttonText() 

        window.onresize = function() { 
            if (window.innerWidth < 600){
                document.getElementById('newIdea').innerText = '+'
            } else {
                document.getElementById('newIdea').innerText = 'Nova ideia'
            }
        }

        function scrollup() {
            const scrollUp = document.querySelector('.button-float');

            if(this.scrollY >= 100) scrollUp.classList.add('show-scroll'); else scrollUp.classList.remove('show-scroll');
        }

        window.addEventListener('scroll', scrollup)

        // setInterval(() => {
        //     let screen = window.innerWidth

        //     if(screen > 600){
               
        //     } else {
                
        //     }
        // }, 2000)
    </script>

    <script src="/scripts/modal.js"></script>
{%endblock %}